/* Cards */

.ritigoLightRed{
	background: linear-gradient(90deg, #fc6a6a 0%, #f70202 100%);
}

.ritigoMediumGreen{
	background: linear-gradient(90deg, #99ed68 0%, #4dc076 100%);
}

.ritigoDarkGreen{
	background: linear-gradient(90deg, #05af41 0%, #007f2d 100%);
}
