 /* Cards */

.cardsSummary{
	min-width: 800px;
	padding: 50px;
	text-align: center;
	font-family: bitter;
	font-style: normal;
	font-size: 40px;
	color: darkgreen;
}

.cardsContainer{
	max-width: 100%;
	min-width: 1000px;
	margin: 0 auto;
	border-radius: 5px;
}

.cardLayout{
	max-width: 1100px;
	min-width: 600px;
	padding: 10px;
	margin: auto;
	margin-bottom: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	vertical-align: middle;
	vertical-align: -webkit-baseline-middle;
	background-color: rgba(255,255,255, 1);
	border: 0.5px solid lightgrey;
	text-align: center;
	border-radius: 5px;
}

.cardCover{
	margin: auto;
	height: auto;
	width: 300px;
	margin-right: 5px;
	border: 1px solid green;
	border-radius: 3px;
}

.cardInside{
	margin: auto;
	height: auto;
	width: 300px;
	margin-right: 5px;
	border: 1px solid red;
	border-radius: 3px;
}

.imageLayout{
	width: 625px;
	display: flex;
	align-items: center;
	overflow: scroll;
}

.additionalCardImages{
	display: flex;
	align-items: center;
}

.cardYear{
	min-width: 300px;
	padding-bottom: 30px;
	text-align: center;
	font-family: pinyon script;
	font-size: 40px;
}

.cardDescription{
	text-align: center;
	font-family: avenir;
	font-weight: lighter;
	font-size: 20px;
	white-space: pre-wrap;
}

.cardTextContainer{
	min-width: 200px;
	margin: auto;
}

.ritigoLightRed{
	background: linear-gradient(90deg, #fc6a6a 0%, #f70202 100%);
}

.ritigoMediumGreen{
	background: linear-gradient(90deg, #99ed68 0%, #4dc076 100%);
}

.ritigoDarkGreen{
	background: linear-gradient(90deg, #05af41 0%, #007f2d 100%);
}

.cardsBackground{
	background-image: linear-gradient(150deg, rgb(246, 249, 252) 20%, rgba(77, 192, 118, 0.1) 100%);
}
