/* General */

.App{
  text-align: center;
}

p{
	width: 70vw !important;
}

/* Banner */

.bannerContainer{
	width: 100vw;
	text-align: center;
	background-color: rgba(255, 255, 255, .9);
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    top: 0;
    display: inline-block;
}

.bannerBar{
    height: 1px;
	width: 100vw;
    background: linear-gradient(150deg, navy -15%, #05d5ff 80%, #99ffcc 100%);
	box-shadow: 0px 1px 2px rgba(0,0,0,.2);
}

.bannerTitlesContainer{
	padding-top: 6px;
	padding-bottom: 5px;
    width: 80vw;
    display: inline-block;
}

.bannerSubtitle{
	min-width: 60vw;
    padding-left: 10px;
	font-size: 2.2vh;
	font-family: bitter;
	/* text-transform: lowercase; */
	font-weight: 300;
	font-style: italic;
	color: dimgrey;
}

.pearsonalLogo{
	color: black;
	background-color: white;
    border: 4px solid black;
	padding-left: 0.7vw;
	padding-right: 0.7vw;
	font-size: 3vh;
	font-family: bitter;
	font-weight: normal;
	text-transform: uppercase;
	transition: 0.2s;
	display: inline-block;
}

.pearsonalLogo:hover{
	color: #c82714;
    border: 4px solid #c82714;
	font-size: 3vh;
	font-family: bitter;
	font-weight: normal;
	transition: 0.2s;
}

/* Navigation */

.navigationContainer{
	width: 95vw;
	margin: 0 auto;
	padding: 0;
	text-align: center;
	list-style-type: none;
    display: flex;
	justify-content: center;
}

li{
	display: inline-block;
}

.noStyling{
	text-decoration: none;
	color: inherit;
}

.navButtons{
	cursor: pointer;
	width: 20vw;
	padding: 10px;
	text-align: center;
	font-family: bitter;
	font-weight: 400;
}

.navigationHome:hover{
	transition: 0.2s;
	color: navy;
	background-color: #BEBEED;
}

.navigationCards:hover{
	transition: 0.2s;
	color: darkgreen;
	background-color: #AFDFAF;
}

.navigationContact:hover{
	transition: 0.2s;
	color: #776505;
	background-color: #EAD878;
}

.navigationAbout:hover{
	transition: 0.2s;
	color: indigo;
	background-color: #DAA7FF;
}

/* Footer */

.footerContainer{
	width: 60vw;
	margin: 0 auto;
}

hr{
	width: 60vw;
	margin: 0 auto;
}

.footerText{
	padding: 15px;
	margin: 0 auto;
	font-family: avenir;
	font-size: 2vh;
	color: black;
	text-align: center;
}

/* Ritigos */

.ritigoContainer{
	width: 100vw !important;
}

.ritigo{
	-webkit-transform: skewY(-12deg);
	transform: skewY(-12deg);
	background-clip: border-box;
	box-sizing: border-box;
	display: block;
	z-index: -10;
}

.ritigoContainer > span{
	position: fixed;
}

.upper{
	height: 80px;
	width: 200px;
	top: 30%;
}

.middle{
	height: 100px;
	width: 500px;
	top: 50%;
}

.lower{
	height: 120px;
	width: 300px;
	top: 80%;
}

.upperRight{
	height: 120px;
	width: 300px;
	top: 20%;
	right: 0;
}

.middleRight{
	height: 100px;
	width: 500px;
	top: 50%;
	right: 0;
}

.lowerRight{
	height: 80px;
	width: 200px;
	top: 80%;
	right: 0;
}
