/* Home */

.homeBackground{
	min-width: 840px;
	padding: 80px;
}

.homeBlurbContainer{
	width: 500px;
	min-width: 600px;
	min-height: 600px;
	margin: 0 auto;
	padding: 100px;
	border: 0.5px solid lightgrey;
	border-radius: 3px;
	background-color: white;
}

.homeBlurb{
	font-family: helvetica;
	font-size: 18px;
	font-weight: 300;
	line-height: 2;
	white-space: pre-wrap;
}

.ritigoLightBlue{
	background: linear-gradient(90deg, #c1dcff 0%, #a0c9ff 100%);
}

.ritigoMediumBlue{
	background: linear-gradient(90deg, #82b8ff 0%, #59a0ff 100%);
}

.ritigoDarkBlue{
	background: linear-gradient(90deg, #3088ff 0%, #0049ad 100%);
}
