/* 404 Not Found */

.notFoundContainer{
	height: 90vh;
	display: flex;
	align-items: center;
	vertical-align: middle;
	vertical-align: -webkit-middle;
}

.notFound{
	max-width: 40vw;
	padding: 100px;
	margin: 0 auto;
	font-size: 3vh;
	color: dimgrey;
	background-color: rgba(255,255,255, 1);
	border: 0.5px solid lightgrey;
	border-radius: 5px;
	font-family: bitter;
	line-height: 2;
	text-align: center;
}

.ritigoLightGrey{
	background: gainsboro;
}

.ritigoMediumGrey{
	background: silver;
}

.ritigoDarkGrey{
	background: grey;
}
